<% flash.each do |flash_type, messages| %>
  <% Array.wrap(messages).each do |message| %>
    <% next if message.blank? %>

    <%= toast_message_container_tag(flash_type) do %>
      <div class="flash__message-content">
        <%= h(message) %>
      </div>

      <% if should_show_close_button?(flash_type) %>
        <button
          type="button"
          class="flash__message-close"
          data-action="click->turbo-toastifier-flash-removal#dismiss"
          aria-label="Close <%= flash_type.to_s.humanize %> message"
        >
          ✕
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
